@import url("./block/main.css");
@import url("./block/about.css");
@import url("./block/startdev.css");
@import url("./block/current_state.css");

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
}
body {
    margin: 0;
}
.container {
    max-width: 1161px;
    margin: 0 auto;
}
.img_content {
    text-align: center;
    position: relative;
}
.img_content::after {
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
    content: "";
    display: block;
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    border-radius: 40px;
}
.img_content img {
    border-radius: 40px;
    max-width: 100%;
    width: auto;
    height: 100%;
}

@media (max-width: 1161px) {
    .container {
        padding: 0 20px;
    }
}