.about {
    background: #484343;
    padding-top: 80px;
    padding-bottom: 80px;
}
h2 {
    color: rgba(34, 34, 34, 0.65);
    font-weight: 600;
    font-size: 100px;
    text-align: center;
    margin: 0;
}
h3 {
    font-size: 40px;
}
.divider {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}
.about_content {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 100px;
}
p {
    font-size: 20px;
    line-height: 30px;
}
.about_center {
    margin: 0 auto;
    width: 70%;
}
.h3_center {
    text-align: center;
}

@media (max-width: 1161px) {
    .about_center {
        width: 100%;
        margin: 0;
    }
    .h3_center {
        text-align: left;
    }
    .about_content {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 1000px) {
    .divider {
        width: 100%!important;
    }
}

@media (max-width: 690px) {
    h2 {
        font-size: 52px;
        text-align: left;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 36px;
    }
}