.start {
    color: #484343;
}
.start_dev {
    background: #222222;
    padding-top: 100px;
}
.firstblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
}

@media (max-width: 1000px) {
    .firstblock {
        display: flex;
        flex-wrap: wrap;
    }
}